<div class="container main-container">

    <div class="row text-center">
        <!-- PARA CADA PRODUTO ENCONTRADO NO BANCO ELE GERA UM NOVO CARD -->
        <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">

                <!-- OBTENDO O ID DO PRUDUTO COM O ROUTER LINK -->
                <a class="text-decoration-none" [routerLink]="['/produto-detalhe', produto.id]" >
                    <div style="align-content:center;">
                        <img src="assets/{{produto.imagem}}" height="164px" width="253px" alt="">
                    </div>
                </a>
                <h4 class="card-title"></h4>

                <div class="card-body">
                   <h4 class="card-title">{{produto.nome}}</h4>
                   <p>Por apenas:</p>
                   <div>
                       <h4>R${{produto.valor}}</h4>
                   </div>
                </div>

                <div class="card-footer">
                    <!-- USANDO O ROUTER LINK PARA ADICIONAR AO CARRINHO PELO ID -->
                    <a class="btn btn-primary" [routerLink]="['/carrinho', produto.id]" routerLinkActive="router-link-active" >
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>