<div class="container main-container">
    <h4>Demo de cadastro</h4>
    <hr>
    <!-- DECLARANDO O FORMGROUP PARA USO DO FORMULARIOS -->
    <!-- ngSubmit é obrigatorio para a submissão de um formulario -->
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label">Nome completo</label>
                <div class="col-md-10">
                    <!-- USO DO FORMCONTROLNAME , COM A VARIÁVEL CRIADA NO COMPONENT -->
                    <input type="text" class="form-control" id="nome" placeholder="Nome obrigatório"
                        formControlName="nome" 
                        [ngClass]="{'is-invalid': displayMessages?.['nome']}">
                       
                        <span class="text-danger" *ngIf="displayMessages?.['nome']">
                            <p [innerHTML]="displayMessages?.['nome']"></p>
                        </span>

                </div>



            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="cpf" placeholder="CPF obrigatório" formControlName="cpf"
                    [ngClass]="{'is-invalid': displayMessages?.['cpf']}" cpf [textMask]="{mask: MASKS.cpf.textMask}">
                       
                    <span class="text-danger" *ngIf="displayMessages?.['cpf']">
                        <p [innerHTML]="displayMessages?.['cpf']"></p>
                    </span>

                </div>


            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="email" placeholder="E-mail obrigatório"
                        formControlName="email"
                        [ngClass]="{'is-invalid': displayMessages?.['email']}">
                       
                        <span class="text-danger" *ngIf="displayMessages?.['email']">
                            <p [innerHTML]="displayMessages?.['email']"></p>
                        </span>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="senha" placeholder="Senha obrigatório"
                        formControlName="senha" [ngClass]="{'is-invalid': displayMessages?.['senha']}">
                       
                        <span class="text-danger" *ngIf="displayMessages?.['senha']">
                            <p [innerHTML]="displayMessages?.['senha']"></p>
                        </span>
                </div>


            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Confirme a senha</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="confSenha" placeholder="Confirme a senha "
                        formControlName="senhaConfirmacao" [ngClass]="{'is-invalid': displayMessages?.['senhaConfirmacao']}">
                       
                        <span class="text-danger" *ngIf="displayMessages?.['senhaConfirmacao']">
                            <p [innerHTML]="displayMessages?.['senhaConfirmacao']"></p>
                        </span>
                </div>
            </div>

        </div>

        <br>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <!-- Com o [disable] o botão é desativado caso o formulario seja diferente de válido -  [disabled]="!cadastroForm.valid"    -->
                <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <p>Formulario Válido : {{ cadastroForm.valid ? "Sim" : "Não"}}</p>
                <p>Formulario Tocado : {{ cadastroForm.touched ? "Sim" : "Não"}}</p>
                <p>Formulario Sujo : {{ cadastroForm.dirty ? "Sim" : "Não"}}</p>
                <p>Formulario : {{formResult}}</p>
            </div>
        </div>

    </form>
</div>